.btn-pay {
    padding: 8px 30px;
    background: #0f1a59e6;
    color: #fff;
    border-radius:2px !important;
}

.btn-pay:hover {
    padding: 8px 30px;
    background: #0f1a59;
    color: #fff;
    border-radius: 4px;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
}

.fa-18{
    font-size: 18px;
}

.payment_form {
    position: relative;
    border-radius: 2px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .04);
    background: #fff;
    padding: 25px;
}

#header-logo {
    text-align: center;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
    background: #fff;
    padding: 8px;
    width: fit-content;
}


#header-details {
    color: #0d2366;
    display: flex;
    min-height: 112px;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

#description p {
    color: #777;
    line-height: 24px;
    font-size: 15px;
    font-family: poppins;
}

#description a {
    text-decoration: none;
    color: #777;
    line-height: 24px;
    font-size: 15px;
    font-family: poppins;
}

#merchant-name {
    font-weight: 600;
    line-height: 28px;
    max-width: 80%;
    display: inline-block;
    vertical-align: middle;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.form-label {
    margin-bottom: 0.5rem;
    font-family:poppins;
    font-size: 14px;
    color: #666;
    font-family: 'Poppins', sans-serif;
}

.form-control {
    font-size: 14px !important;
    color: #666 !important;
    padding: 0.6rem 0.75rem !important;
    border-radius:4px;
    font-family: 'Poppins', sans-serif;
}

.title-underline {
    border-color: rgb(51 51 51);
    display: block;
    width: 28px;
    border-bottom: 3px solid;
    margin-bottom: 20px;
}

.pay-right-border{
    border-right: 1px solid #7777773d;
}


.payment-heading {
    font-size: 48px;
    color: #333;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    font-family: Josefin Slab;
}
@media screen and (max-width:1200px) {

.form-label {
    font-size: 12px;
}

}

@media screen and (max-width:992.5px) {
    .pay-right-border {
        border-right: 1px solid #fff;
    }
}

@media screen and (max-width:770px) {
.payment-heading {
    font-size: 28px;
    line-height: 44px;
}
.navbar-brand {
    text-align: center;
    margin: 0 auto;
}

}